
{% extends "base.html" %}
{% block title %}About Page{% endblock title %}
{% block main-content %}
<div class="container">
    <h2>Welcome to {{name}} and age is {{age}}</h2>
    <p>
        We are a team of passionate individuals committed to providing high-quality services and products to our customers. Our goal is to exceed expectations and continuously improve to serve you better.
    </p>
    <p>
        With years of experience in the industry, we take pride in our ability to innovate and deliver excellence in everything we do. Thank you for visiting our website, and we look forward to working with you!
    </p>
</div>

{% endblock main-content %}