{% extends "base.html" %}

{% block title %}home Page{% endblock title %}
{% block main-content %}

    <section>
        <h2>Welcome to Our Website</h2>
        <p>Discover a world of innovation, creativity, and dedication. We are here to serve you with the best solutions and services tailored to your needs.</p>
    </section>
    <section>
        <h2>What We Offer</h2>
        <p>Our offerings include cutting-edge technology, personalized services, and unmatched support to help you achieve your goals.</p>
    </section>
    <section>
        <h2>Why Choose Us</h2>
        <p>We prioritize your success by delivering quality, reliability, and a commitment to excellence in everything we do.</p>
    </section>
{% endblock main-content %}